In [6]:
#ingest the data

In [5]:
import pandas as pd

In [6]:
pd.read_csv(r"D:\NAVI\fsds\notebooks\data\train.csv\train.csv")

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

In [7]:
data=pd.read_csv(r"D:\NAVI\fsds\notebooks\data\train.csv\train.csv")

In [8]:
data.tail()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

In [9]:
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [10]:
data.sample(4)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
90966,90966,1.01,Premium,F,SI2,62.6,58.0,6.39,6.36,3.99,4304
73796,73796,2.00,Premium,D,SI1,59.8,57.0,8.18,8.09,4.85,14844
50333,50333,0.57,Ideal,G,VVS2,62.4,55.0,5.32,5.35,3.32,2338
69325,69325,0.34,Premium,F,VS1,61.4,58.0,4.50,4.54,2.78,953

In [13]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [20]:
data.drop(labels=["carat"],axis=1)

            id        cut color clarity  depth  table     x     y     z  price
0            0    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1            1  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2            2      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3            3      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4            4    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...        ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568  193568      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569  193569    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570  193570  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571  193571  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572  193572       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

https://www.vrai.com/journal/post/diamond-cut

In [23]:
data.duplicated().sum()

0

In [24]:
data.shape

(193573, 11)

In [28]:
#cataogories vs num
data.dtypes=="object"

id         False
carat      False
cut         True
color       True
clarity     True
depth      False
table      False
x          False
y          False
z          False
price      False
dtype: bool

In [39]:
categorical_columns=data.columns[data.dtypes=="object"]

In [40]:
numericals_columns=data.columns[data.dtypes=="object"]

In [41]:
data[numericals_columns]

              cut color clarity
0         Premium     F     VS2
1       Very Good     J     SI2
2           Ideal     G     VS1
3           Ideal     G     VS1
4         Premium     G     VS2
...           ...   ...     ...
193568      Ideal     D    VVS2
193569    Premium     G    VVS2
193570  Very Good     F     SI1
193571  Very Good     D     SI1
193572       Good     E     SI2

[193573 rows x 3 columns]

In [43]:
data[categorical_columns].describe()

           cut   color clarity
count   193573  193573  193573
unique       5       7       8
top      Ideal       G     SI1
freq     92454   44391   53272

In [45]:
data[categorical_columns]["cut"].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [47]:
data[numericals_columns].describe().T

          count unique    top   freq
cut      193573      5  Ideal  92454
color    193573      7      G  44391
clarity  193573      8    SI1  53272